# Dependencies
node_modules/
.pnpm-store/

# Build outputs
apps/web/.next/cache/
dist/
!packages/db/dist/
out/

# Environment files — NE JAMAIS commiter
.env
.env.local
.env.*.local
.env.production
packages/db/.env

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Turbo cache
.turbo/

# OS
.DS_Store
Thumbs.db

# Prisma — generated client commité (JS only + binaire Linux, pas Windows)
packages/db/generated/client/*.node
!packages/db/generated/client/libquery_engine-debian-openssl-1.1.x.so.node
packages/db/generated/client/*.dll.node

# Prisma engine binary pour le mode bundlé (apps/web/generated/client/)
apps/web/generated/client/*.node
!apps/web/generated/client/libquery_engine-debian-openssl-1.1.x.so.node

# Uploads
apps/web/public/uploads/

# IDE
.vscode/
.idea/
*.swp
